services:
  nginx:
    image: nginx:latest
    container_name: my-pitch-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/html:/usr/share/nginx/html
      - ./nginx/conf.d:/etc/nginx/conf.d
    restart: unless-stopped
    networks:
      - my-pitch-network

networks:
  my-pitch-network:
    driver: bridge

