services:
  nginx:
    image: nginx:latest
    container_name: my-pitch-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/html:/usr/share/nginx/html
      - ./nginx/conf.d:/etc/nginx/conf.d
    restart: unless-stopped
    networks:
      - my-pitch-network

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: my-pitch-api
    ports:
      - "5000:5000"
    volumes:
      - ./api:/app
    restart: unless-stopped
    networks:
      - my-pitch-network
    stdin_open: true
    tty: true

networks:
  my-pitch-network:
    driver: bridge

