services:
  nginx:
    image: nginx:latest
    container_name: my-pitch-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/html:/usr/share/nginx/html
      - ./nginx/conf.d:/etc/nginx/conf.d
    restart: unless-stopped
    networks:
      - my-pitch-network

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: my-pitch-api
    ports:
      - "5000:5000"
    volumes:
      - ./api:/app
    restart: unless-stopped
    networks:
      - my-pitch-network
    stdin_open: true
    tty: true

  fileserver:
    image: minio/minio:latest
    container_name: my-pitch-fileserver
    ports:
      - "9000:9000"  # API 포트
      - "9001:9001"  # 웹 UI 포트
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - ./fileserver/data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped
    networks:
      - my-pitch-network

networks:
  my-pitch-network:
    driver: bridge

