services:
  nginx:
    image: nginx:latest
    container_name: my-pitch-nginx
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - .env  # 루트의 .env 파일 사용
    volumes:
      - ./nginx/html:/usr/share/nginx/html
      - ./nginx/conf.d:/etc/nginx/conf.d
    restart: unless-stopped
    networks:
      - my-pitch-network

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: my-pitch-client
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules  # 컨테이너 내부 node_modules 사용
      - /app/.next         # 컨테이너 내부 .next 사용
    env_file:
      - .env  # 루트의 .env 파일 사용
    restart: unless-stopped
    networks:
      - my-pitch-network
    stdin_open: true
    tty: true

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: my-pitch-api
    ports:
      - "5000:5000"
    volumes:
      - ./api:/app
    env_file:
      - .env  # 루트의 .env 파일 사용
    restart: unless-stopped
    networks:
      - my-pitch-network
    stdin_open: true
    tty: true
    depends_on:
      - fileserver

  fileserver:
    image: minio/minio:latest
    container_name: my-pitch-fileserver
    ports:
      - "9000:9000"  # API 포트
      - "9001:9001"  # 웹 UI 포트
    env_file:
      - .env  # 루트의 .env 파일 사용
    volumes:
      - ./fileserver/data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped
    networks:
      - my-pitch-network

networks:
  my-pitch-network:
    driver: bridge

